apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-oycdnioc
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-oycdnioc:c87b5cb24dc4de887f07aa15397969b27fa97d7d@sha256:06b4898097555a13560c4729029a6e87cb2c87de730bc6072e1f962a112a5625
        name: container-image  
